.container {
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 18.0585px 18.0585px rgba(0, 0, 0, 0.05));
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  .top_rating_flag {
    width: 50%;
    height: 43px;
    background: #87CBAC;
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 16.2527px;
      line-height: 20px;
      color: #FFFFFF;

    }
  }

  .image {
    width: 100%;
    height: auto;
    position: relative;

    img {
      width: calc(100%);
      height: auto;
      object-fit: contain;
    }
  }

  .content {
    width: 100%;
    padding: 12px 20px 30px 8px;
    background: #fff;

    .first {
      width: 100%;
      height: 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 21.6702px;
        line-height: 26px;

        color: #141E32;
      }

      .star_container {
        display: flex;
        align-items: center;
      }

      .star_number {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 25px;
        color: #7776BC;
      }

      .star_icon {
        width: 24px;
        height: 24px;
        margin-left: 20px;
      }
    }

    .second {
      width: 100%;
      display: flex;
      margin-bottom: 15px;

      .description {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16.2527px;
        line-height: 20px;
        color: #969696;
      }
    }
  }


}
